In [1]:
print("hello,python full stack students!")

hello,python full stack students!

In [3]:
print("hello, wellcome students!")

hello, wellcome students!

In [5]:
print("hello, hi harsh,rohan aa!")

hello, hi harsh,rohan aa!

Name="raghavender"
age= 18
gpa= 9.8
is_stundent = True
print(Name, age, gpa, is_student)

In [15]:
Name="raghavender"
age= 18
gpa= 9.8
is_student = True
print(Name, age, gpa, is_student)

raghavender 18 9.8 True

In [16]:
name="modi"
age=78
gpa=10
is_student=True
print(name, age,gpa, is_student )

modi 78 10 True

In [17]:
x=10
y=5.8
z="python"
flag=False
print(type(x),type(y),type(z),type(flag))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [21]:
name="raghu"
college="acc"
favorite_programming_language= "python"
print(name, college, favorite_programming_language,)

raghu acc python

In [22]:
year_of_birth=1568
current_year=2025
age=(current_year-year_of_birth)
print(age)

457

In [24]:
movie_name="salaar"
year=2023
rating=8.9
print(movie_name, year, rating, )

salaar 2023 8.9

In [27]:
a=15
b=4
print("addition:",a+b)
print("division:",a/b)
print("floor division:",a//b)
print("power:",a**b)

addition: 19
division: 3.75
floor division: 3
power: 50625

In [29]:
a=100
b=366
print(a>b)
print(a==10)
print((a<b) and ( b==20))

False
False
False